@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --text-primary: #171717;
  --text-secondary: #525252;
  --text-tertiary: #d4d4d4;
  --text-inversed: #f5f5f5;
  --text-invalid: #cf0000;
  --text-success: #249900;
  --text-warning: #c39200;
  --text-hover: #5c5c5c;
  --text-active: #727272;
  --text-hover-inversed: #b3b3b3;
  --text-active-inversed: #989898;

  --bg-primary: #f5f5f5;
  --bg-secondary: #a3a3a3;
  --bg-tertiary: #404040;
  --bg-inversed: #171717;
  --bg-success: #8aff67;
  --bg-invalid: #ff6161;
  --bg-warning: #ffcc00;
  --bg-hover: #d4d4d4;
  --bg-active: #aeaeae;
  --bg-hover-inversed: #484848;
  --bg-active-inversed: #5b5b5b;
}

:root.dark {
  --text-primary: #f5f5f5;
  --text-secondary: #a3a3a3;
  --text-tertiary: #404040;
  --text-inversed: #171717;
  --text-success: #8aff66;
  --text-invalid: #ff5959;
  --text-warning: #e9d502;
  --text-hover: #b3b3b3;
  --text-active: #989898;
  --text-hover-inversed: #5c5c5c;
  --text-active-inversed: #727272;

  --bg-primary: #171717;
  --bg-secondary: #525252;
  --bg-tertiary: #d4d4d4;
  --bg-inversed: #f5f5f5;
  --bg-success: #1a7000;
  --bg-invalid: #d80000;
  --bg-warning: #866b00;
  --bg-hover: #484848;
  --bg-active: #5b5b5b;
  --bg-hover-inversed: #d4d4d4;
  --bg-active-inversed: #aeaeae;
}

* {
  scrollbar-color: var(--bg-primary);
}

*::-webkit-scrollbar {
  background-color: var(--bg-primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--bg-secondary);
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #868686;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #727272;
}

html {
  font-size: 100%;

  @media (max-width: 768px) {
    font-size: 75%;
  }
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  transition-delay: 999999s;
  transition-property: background-color, color;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

textarea::-webkit-scrollbar {
  background-color: transparent;
}

textarea::-webkit-scrollbar-corner {
  background-color: transparent;
}

img {
  position: relative;
  overflow: hidden;
  color: transparent;
  background-color: transparent;
}

img::before {
  content: '';
  position: absolute;
  display: flex;
  inset: 0;
  background-color: var(--bg-primary);
}

img::after {
  content: '';
  mask: url('/logo.svg');
  position: absolute;
  top: 50%;
  left: 50%;
  width: 30%;
  min-width: 24px;
  background-color: var(--bg-inversed);
  transform: translate(-50%, -50%);
  aspect-ratio: 1/1;
}
